.s9-main-container{
    width: 1440px;
    height: 367px;
    background-color: var(--color-black);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin: 242px auto;
    font-family: inter,sans-serif;
}
.s9-container1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
}
.s9-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 187px;
    cursor: pointer;
}
.s9-container2{
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#FFFFFF ;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}